.NavbarItems {
  background: #ffffff;
  height: 10vh;
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-shadow: 1px 2px 12px #e0e0e0;
  z-index: 999;
}

.Navbar-Home {
  color: #000000;
  justify-self: start;
  margin-left: 8vw;
  cursor: pointer;
  font-size: 35px;
  font-weight: bolder;
}
.Navbar-url {
  /* display: grid; */
  /* grid-template-columns: repeat(5, auto); */
  /* grid-gap: 10px; */
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  margin-top: 10px;
  width: 77.5vw;
  justify-content: flex-start;
}

.nav-links,
.Home,
.nav-links:hover,
.Home:hover {
  color: #000000;
  text-decoration: none;
  padding: 10px;
}

.Menu__box {
  display: flex;
  flex: 2;
  flex-direction: row;
}

.Search__box {
  text-align: right;
  flex: 1;
  margin-top: 5px;
}

.avatar {
  border-radius: 50%;
  height: 35px;
  width: 30px;
  margin-left: 1.5vw;
}
